
.page {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0.1);
    height: 60px;
    padding: 1% 0 1% 4%;
}

.airbnb-logo {
    /* width: 100px; */
    height: 50px;
}

.logoText {
    color: #FF5A5F;
}

.heroSection {
    width: 85%;
    margin: auto;
}

.gridImageSec {
    /* width: 100%; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.gridTextSec {
    margin-top: 2%;
}

.gridHead {
    font-weight: 800;
    font-size: 40px;
}

.gridPara {
    font-size: 20px;
}

.experienceCard {
    display: flex;
    flex-direction: column;
    width: 13.5%;
    /* background-color: aqua; */
    border-radius: 7px;
    
}

.athletePhoto {
    height: 180px;
}

.infoSec {
    padding: 1.5%;
}

.ratingSec {
    display: flex;
    margin-top: 2%;
    align-items: center;
    gap: 3%;
}

.ratingText {
    font-size: 10px;
    padding-bottom: 2px;
    margin: 2px;
}

.star {
    width: 10px;
    height: 10px;
}

.cardText {
    font-size: 11px;
    padding-bottom: 2px;
    margin: 2px;
}

.experienceSec {
    width: 85%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}